.app-modal {
    z-index: 10;
    width: 50%;
    position: fixed;
    left: 25%;
    top: 30%;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: #575965;
}

.app-modal .app-modal-header {
    border-bottom: 1px solid #575965;
    width: 100%;
    text-align: center;
}

.app-modal .app-modal-body {
    padding: 1em;
}
