html, body {
    width: 100%;
    height: 100%;
    color: #FDAB07;
    background-color: #575965;
}

.list-group-item {
    background-color: inherit;
}

.app-wrapper {
    display: flex;
    justify-content: center;
}

.content {
    position: absolute;
    top: 90px;
    padding-top: 3em;
    width: 100%;
}

.btn-primary {
    background-color: white;
    color: #575965;
    border-color: #575965;
    border-radius: 20px;
}

.btn-primary:disabled, .btn-primary.disabled {
    background-color: white;
    color: #575965;
    border-color: #575965;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #FDAB07;
    color: #575965;
    border-color: #575965;
}

.btn-primary:focus, .btn-primary:active:focus {
    background-color: #FDAB07;
    color: #575965;
    border-color: #575965;
    box-shadow: 0 0 0 0.15rem rgba(235, 171, 7, 0.25);
}

.like-recipe-btn {
    color: crimson;
}