.app-card {
    width: 17em;
    height: 21em;
    background-color: #575965;
}

.app-card .card-image {
    height: 75%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.app-card .card-image:before {
    content: ' ';
    display: block;
    background-image: url('../../assets/images/no_image.svg');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app-card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.app-card .card-title {
    text-align: center;
}