.image-picker {
    position: relative;
}

.image-picker .image-picker-input {
    display:none;
}

.image-picker .preview-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    position: relative;
    border: 1px solid;
    text-align: center;
}

.image-picker .preview-wrapper.hovered {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.preview-wrapper .delete-image-btn {
    position: absolute;
    top: 0;
    left: 92%;
    padding: 2px 4px;
}

.image-picker.default-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-picker .btn.default-preview {
    position: absolute;
}

.image-picker .btn.default-preview.hovered {
    background-color: #FDAB07;
    color: #575965;
    border-color: #575965;
}