.jumbotron-container {
    margin-top: 3em;
    margin-bottom: 2em;
}

.jumbotron-container .img-big-logo {
    margin-bottom: 2em;
    position: relative;
    width: 60%;
    left: 20%;
}

.jumbotron-container .text-field-wrapper {
    width: 60%;
    position: relative;
    left: 20%;
}