.details .recipe-header .infos-container, .details .recipe-steps, .details .recipe-header {
    margin-bottom: 2em;
}

.details .recipe-header {
    display: flex;
    max-height: 40em;
}

.details .recipe-header .infos-container, .details .recipe-header .image-container {
    width: 50%;
}

.details .recipe-header .infos-container .labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.details .recipe-header .infos-container .time {
    margin-right: 1em;
}

.details .recipe-header .image-container .preview-img {
    width: auto;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.details .recipe-header .infos-container .recipe-ingredients {
    margin-top: 2em;
}

.details .recipe-header .infos-container .recipe-ingredients .list-wrapper {
    max-width: 100%;
}

.details .recipe-header .infos-container .recipe-ingredients .ingredient {
    justify-content: flex-start;
}
