.details .recipe-header {
    display: flex;
}

.details .recipe-header .infos-container, .details .recipe-header .image-container {
    width: 50%;
}

.details .recipe-header .infos-container .labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.details .recipe-header .image-container .preview-img {
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
